<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingyabin.localmsg.mapper.LocalMessageRecordMapper">

    <resultMap id="BaseResultMap" type="com.dingyabin.localmsg.model.entity.LocalMessageRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="bizType" column="biz_type" jdbcType="VARCHAR"/>
            <result property="invokeCtx" column="invoke_ctx" jdbcType="VARCHAR"/>
            <result property="retryTime" column="retry_time" jdbcType="INTEGER"/>
            <result property="maxRetryTime" column="max_retry_time" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,biz_type,invoke_ctx,
        retry_time,max_retry_time,status,
        remark,create_time,update_time
    </sql>
</mapper>
